<div class="header w-full header-upper py-2 h-100 flex justify-content-between">
  <div class="w-16">
    <h1><a href="/user/home">
        <img class="header__logo" src="../../../assets/images/parth-traders-logo.jpg++
        
        " />
      </a></h1>
  </div>
  <div class="w-41">
    <div class="d-flex">
      <mat-form-field>
        <mat-select id="dropdown-button" (selectionChange)="searchProduct('clicked', searchInputRef.value)"
          [(ngModel)]="selectedCategory" name="category">
          <mat-option *ngFor=" let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="header__search justify-content-center w-41 relative">
        <input type="search" id="search-dropdown" #searchInputRef
          (keydown)="searchProduct($event.key, searchInputRef.value)"
          class="block border-none header__searchInput md:rounded-l-none outline-none p-06 text-md w-full z-20"
          placeholder="Search for machine tools, buffs etc..." type="text" />
        <button (click)="searchProduct('clicked', searchInputRef.value)" type="submit"
          class="p-0 rounded-r-lg text-white border-0">
          <mat-icon class="header__searchIcon d-flex justify-content-center align-items-center" aria-hidden="false"
            aria-label="search icon" fontIcon="search"></mat-icon>
          <span class="sr-only">Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex header__nav">
    <div class="header__option" *ngIf="isAuthenticated()">
      <span class="header__optionLineOne">Welcome,</span>
      <span class="header__optionLineTwo">{{customerName}}</span>
    </div>
    <div class="header__option" (click)="redirectToLogIn()" *ngIf="!isAuthenticated()">
      <span class="header__optionLineOne">Hello Guest</span>
      <span class="header__optionLineTwo">Sign In</span>
    </div>

    <div class="header__option">
      <span class="header__optionLineOne">Returns</span>
      <span class="header__optionLineTwo">& Orders</span>
    </div>

    <div class="header__option">
      <span class="header__optionLineOne">Your</span>
      <span class="header__optionLineTwo">Prime</span>
    </div>

    <div class="header__optionBasket">
      <div (click)="redirectToCheckout()" class="d-flex align-items-center text-white">
        <mat-icon aria-hidden="false" aria-label="shopping basket icon" fontIcon="shopping_basket"></mat-icon>
        <span class="header__optionLineTwo header__basketCount"> {{totalOrderItems}} </span>
      </div>
    </div>
  </div>
</div>