<div class="header">
  <img
    class="header__logo"
    src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
  />

  <div class="header__search">
    <input class="header__searchInput" type="text" />
    <mat-icon
      class="header__searchIcon"
      aria-hidden="false"
      aria-label="search icon"
      fontIcon="search"
    ></mat-icon>
  </div>

  <div class="header__nav">
    <div class="header__option">
      <span class="header__optionLineOne">Hello Guest</span>
      <span class="header__optionLineTwo">Sign In</span>
    </div>

    <div class="header__option">
      <span class="header__optionLineOne">Returns</span>
      <span class="header__optionLineTwo">& Orders</span>
    </div>

    <div class="header__option">
      <span class="header__optionLineOne">Your</span>
      <span class="header__optionLineTwo">Prime</span>
    </div>

    <div class="header__optionBasket">
      <mat-icon
        aria-hidden="false"
        aria-label="shopping basket icon"
        fontIcon="shopping_basket"
      ></mat-icon>
      <!-- <ShoppingBasketIcon /> -->
      <span class="header__optionLineTwo header__basketCount"> 0 </span>
    </div>
  </div>
</div>
