<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartItems; let i = index">
        <div class="img-wrap">
            <img [src]="item.image" alt="Product">
        </div>
        <span>{{ item.name }}</span>
        <strong>{{ item.price }}</strong>
        <div class="cart-item-border"></div>
        <div class="delete-item" (click)="removeFromCart(i)">Delete</div>
    </div>
    <button id="checkout" *ngIf="cartItems.length > 0">Checkout</button>
</div>

<ng-template #emptyCart>
    <div class="empty">Your cart is empty</div>
</ng-template>