<h3>CART</h3>
<div class="cart-icon-top"></div>

<div class="cart-icon-bottom"></div>

<!-- <div id="checkout">CHECKOUT</div> -->
<div id="cart" #cart>
    <div class="cart-item" [class]="(isLast && shouldFlash) ? 'flash': ''"
        *ngFor="let item of cartItems; let i = index; last as isLast">
        <div class="img-wrap">
            <img [src]="item.image_paths[0]" alt="Product">
        </div>
        <span>{{ item.title }}</span>
        <strong>{{ item.price }}</strong>
        <div class="cart-item-border"></div>
        <div class="delete-item" (click)="removeFromCart(i)"></div>
    </div>
    <button id="checkout" *ngIf="cartItems.length > 0">CHECKOUT</button>

    <ng-template *ngIf="cartItems.length == 0">
        <span class="empty">Your cart is empty</span>
    </ng-template>
</div>