<div class="d-flex align-items-baseline justify-content-between">
    <div class="d-flex justify-content-between cart-display-container">
        <h3>CART</h3>
        <div class="flex-icon-container">
            <div class="cart-icon-top"></div>
            <div class="cart-icon-bottom"></div>
        </div>
    </div>
    <button class="me-3" id="checkout" *ngIf="getCartItems().length > 0"
        (click)="redirectToCheckout()">CHECKOUT</button>
</div>

<div id="cart" #cart>
    <div class="cart-item" [class.flash]="flashIndex==i" *ngFor="let item of getCartItems(); let i = index">
        <div class="img-wrap">
            <img [src]="getImgPathFromSku(item.productSku)" alt="Product">
        </div>
        <span>{{ item.productSku }}</span>
        <strong>{{ item.totalPrice | number : '1.2-2'}}</strong>
        <div class="product-count-container">
            <button class="decrement-product-count-button" (click)="decrementProductCountFrom(item)">-</button>
            <div class="product-count">
                x {{item.quantity}}
            </div>
            <button class="increment-product-count-button" (click)="incrementProductCountOf(item)">+</button>
        </div>
        <div class="cart-item-border"></div>
        <div class="delete-item" (click)="removeFromCart(i)"></div>
    </div>

    <ng-template *ngIf="getCartItems().length == 0">
        <span class="empty">Your cart is empty</span>
    </ng-template>
</div>