<div class="product" [id]="'product_' + product.id" #productElement>
    <div class="info-large">
        <h4>{{ product.productName }}</h4>
        <div class="sku">PRODUCT SKU: <strong>{{ product.sku }}</strong></div>
        <div class="price-big"><span>$ {{product.price}}</span> ${{ product.price - product.discount}}</div>
        <h3>SIZE</h3>
        <div class="sizes">
            <!-- TODO: need to keep bold/highlight the selected product size and pass its value while add to cart -->
            <span class="ms-1" *ngFor="let productSize of product.sizes" (click)="updateProductSize(productSize)">
                {{ productSize }}
            </span>
        </div>
        <button class="add-cart-large" (click)="addCartLarge()">Add To Cart</button>
    </div>
    <div class="make3D" (mouseenter)="liftCard()" (mouseleave)="dropCard()">
        <div class="product-front">
            <div class="shadow"></div>
            <img src="{{ product.image_paths[0] }}" alt="" />
            <div class="image_overlay"></div>
            <div class="add_to_cart" (click)="addToCart()">Add to cart</div>
            <div class="view_gallery" (click)="flipCardToBack()">View gallery</div>
            <div class="stats">
                <div class="stats-container">
                    <span class="product_price">${{ product.price }}</span>
                    <span class="product_name">{{ product.productType }}</span>
                    <p>{{ product.category }}</p>
                    <div class="product-options sizes">
                        <strong>SIZES</strong><br>
                        <span class="ms-1" *ngFor="let size of product.sizes">{{ size }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-back">
            <div class="shadow"></div>
            <ngb-carousel *ngIf="product.image_paths">
                <ng-template *ngFor="let image of product.image_paths" ngbSlide>
                    <div class="wrapper">
                        <img [src]="image" alt="product image" />
                    </div>
                </ng-template>
            </ngb-carousel>
            <div class="flip-back" (click)="flipCardToFront()">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
        </div>
    </div>
</div>