<div class="modal-container center">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row justify-content-around">
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="col-5 col-md-5">
      <div class="panel-body">
        <form #form="ngForm">
          <div class="group">
            <input class="form-control" placeholder="username" name="username" type="text" autofocus ngModel />
          </div>
          <div class="group">
            <input class="form-control" placeholder="Password" name="password" type="password" value="" ngModel />
          </div>
          <button class="btn btn-lg btn-primary btn-block" (click)="login(form)">
            Login
          </button>
        </form>
      </div>
    </div>
    <div class="col-5 col-md-5">
      <div class="side-image">
        <img src="assets/images/he_sitting_with_notebook.png" alt="image" />
      </div>
    </div>
  </div>
</div>