.sign1 {
  display: flex;
  align-items: baseline;
  float: right;
  width: 340px;
}
.s1 span input {
  width: 250px;
  outline: none !important;
}
.s1 span input::placeholder {
  text-align: center;
}
.s2 {
  width: 20px;
}
.s2 input {
  background: transparent !important;
  padding: 8px !important;
  font-size: 28px !important;
}
.wpcf7 form.sent .wpcf7-response-output {
  border-color: #000000 !important;
  color: yellowgreen;
}
.newsletter-sub {
  display: flex;
  margin: 20px 100px;
}

input {
  padding: 5px 5px;
}

.border_angle:after {
  content: "";
    position: absolute;
    bottom: -158px;
    width: 28%;
    transform: rotate(65deg);
    border-top: 1px solid #2c2c2d;
}
.border_angle.one:after {
  left: 20%;
}

.border_angle.two:after {
  left: 55%;
}

.footer_block {
  text-align: center;
}
.footer_block h5 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.footer_block {
  padding: 60px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: HelveticaNeueLTPro-Hv;
  letter-spacing: -0.05em;
}

h5 {
  font-weight: bold;
}

.career_form_box
  .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  margin: 0;
  border-color: #e94b35;
  font-size: 14px;
}
.career_form_box .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  font-size: 13px;
  background-color: #dff0d8;
  border: 1px solid #5ca340;
  color: #5ca340;
  padding: 20px 20px;
  margin: 0;
}

.pt_menu ul a {
  line-height: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  position: relative;
}
.pt_menu ul li.light > a {
  color: #969696;
}
.pt_menu ul li {
  display: inline-block;
}

.pt_menu ul a img {
  width: 23px;
  height: 23px;
}
.pt_menu ul a svg {
  stroke: #fff;
  width: 23px;
  height: 23px;
}

.pt_menu ul li.megamenu.single_menu > ul.sub-menu > li.hide_menu > a {
  display: none;
}

.pt_menu ul li.megamenu > ul.sub-menu {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100vw;
  background: #fff;
  display: flex;
  overflow: hidden;
  /* transition: height .15s ease-out; */
  transform: rotateX(90deg);
  transition-duration: 0.3s;
  transform-origin: top;
  padding: 2.5vw 13vw;
  opacity: 0;
  visibility: hidden;
  /* box-shadow: 0px 0px 100vw 100vw #0000007d;*/
}
.pt_menu ul li.megamenu:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000078;
  position: fixed;
  left: 0;
  top: 57px;
  pointer-events: none;
}
.pt_menu ul li.megamenu ul.sub-menu a {
  color: #000;
}

.pt_menu ul li.megamenu > ul.sub-menu > li {
  width: 100%;
  opacity: 0;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
}
.pt_menu ul li.megamenu ul.sub-menu > li h5 {
  font-weight: 700;
  font-size: 15px;
  font-family: HelveticaNeueW02-75Bold, HelveticaNeueBold, HelveticaNeue-Bold,
    "Helvetica Neue Bold", HelveticaNeue, "Helvetica Neue", TeXGyreHerosBold,
    Helvetica, Tahoma, Geneva, Arial, sans-serif;
  letter-spacing: inherit;
  margin: 0 0 5px 0;
}
.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu {
  display: block;
}

.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li a {
  padding: 2px 0;
  line-height: 18px;
}

.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li {
  display: block;
}
.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li.hide_desk {
  display: none;
}
.pt_menu
  ul
  li.megamenu
  > ul.sub-menu
  > li
  ul.sub-menu
  li.light_menu
  a {
  color: #949494;
}
.pt_menu ul li.megamenu > ul.sub-menu > li > a {
  padding: 0;
  font-weight: 600;
}
.pt_menu ul li.megamenu:hover > ul.sub-menu {
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.pt_menu ul li.megamenu:hover > ul.sub-menu > li {
  opacity: 1;
}
.pt_menu ul li.megamenu > ul.sub-menu > li.for_mob > a > h5 {
  display: none;
}
.pt_menu ul li.megamenu > ul.sub-menu > li.img_menu img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 10px 0;
}

.pt_menu ul li.megamenu > ul.sub-menu > li.img_menu:after {
  content: "\25b6";
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
}

.pt_menu ul li.megamenu > ul.sub-menu > li.img_menu {
  position: relative;
}

.pt_menu ul li.megamenu > ul.sub-menu > li.img_menu a {
  font-family: HelveticaNeueW02-75Bold, HelveticaNeueBold, HelveticaNeue-Bold,
    "Helvetica Neue Bold", HelveticaNeue, "Helvetica Neue", TeXGyreHerosBold,
    Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 700;
}
.pt_menu ul li.megamenu > ul.sub-menu > li.border_right {
  width: 137%;
  position: relative;
}

.pt_menu ul li.megamenu > ul.sub-menu > li.border_right:before {
  content: "";
  width: 1px;
  height: 92%;
  background: #dcdcdc;
  position: absolute;
  right: 4.5vw;
  top: 0;
}
.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li a:hover {
  color: #969696;
}
.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li.red a {
  color: #ff5100;
}

.pt_menu
  ul
  li.megamenu
  > ul.sub-menu
  > li
  ul.sub-menu
  li.red
  a:hover {
  color: #969696;
}
.pt_menu ul li.megamenu > ul.sub-menu > li.img_menu:hover:after {
  color: #969696;
}
.pt_menu ul li.megamenu > ul.sub-menu > li:last-child {
  width: 120%;
}
.pt_menu ul li.megamenu.full_image > ul.sub-menu {
  padding: 0;
  height: 88vh;
}

.pt_menu ul li.megamenu.full_image > ul.sub-menu > li {
  width: 100%;
}

.pt_menu ul li.megamenu.full_image > ul.sub-menu > li:nth-child(2) {
  width: 22.2vw;
}

.pt_menu ul li.megamenu.full_image > ul.sub-menu > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.4s;
}
  .pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li
  img:nth-child(2) {
  display: none;
}
.pt_menu ul li.megamenu > ul.sub-menu > li img {
  transition-duration: 0.4s;
}
.pt_menu ul li.megamenu.full_image > ul.sub-menu a {
  position: relative;
  height: 100%;
}

.pt_menu ul li.megamenu.full_image > ul.sub-menu a h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  font-size: 54px;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 46px;
}
  .pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li:nth-child(2)
  img {
  height: 100%;
  object-fit: cover;
}

.pt_menu ul li.megamenu > ul.sub-menu > li.zoom a:hover img {
  transform: scale(1.03);
}
.pt_menu ul li.megamenu.full_image > ul.sub-menu > li.no_click a {
  pointer-events: none;
}
.pt_menu ul li.megamenu.image_click_menu > ul.sub-menu {
  padding: 0;
}

.pt_menu ul li.megamenu.image_click_menu > ul.sub-menu > li {
  width: 100%;
  border-right: 1px solid #979797;
}

.pt_menu ul li.megamenu.image_click_menu > ul.sub-menu > li img {
  width: 100%;
  height: auto;
}
  .pt_menu
  ul
  li.megamenu.image_click_menu
  > ul.sub-menu
  > li
  img:nth-child(2) {
  display: none;
}
  .pt_menu
  ul
  li.megamenu.image_click_menu
  > ul.sub-menu
  > li
  img.inside-pt-mob {
  display: none;
}
.pt_menu ul li.megamenu.image_click_menu > ul.sub-menu > li a {
  overflow: hidden;
}

.pt_menu ul li.megamenu.image_click_menu > ul.sub-menu > li a h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 2.55vw 1vw;
  line-height: 25px;
}
  .pt_menu
  ul
  li.megamenu.single_menu
  > ul.sub-menu
  > li
  ul.sub-menu
  li
  a {
  display: inline-block;
}

  .pt_menu
  ul
  li.megamenu.single_menu
  > ul.sub-menu
  > li
  ul.sub-menu
  li {
  text-align: left;
}

.pt_menu ul li.megamenu.single_menu > ul.sub-menu > li {
  text-align: right;
}

.pt_menu ul li.megamenu.single_menu > ul.sub-menu ul.sub-menu {
  width: auto;
  display: inline-block;
}
  .pt_menu
  ul
  li.megamenu.single_menu
  > ul.sub-menu
  > li
  ul.sub-menu
  li
  a
  h5 {
  font-family: HelveticaNeueLTPro-Hv, HelveticaNeue-Heavy,
    "Helvetica Neue Heavy", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
  .pt_menu
  ul
  li.megamenu.single_menu
  > ul.sub-menu
  > li
  ul.sub-menu
  li {
  line-height: 40px;
}

.pt_menu ul li.megamenu.single_menu > ul.sub-menu {
  padding: 2.5vw 15.4vw 4.5vw 15.4vw;
}
.pt_menu ul li.megamenu.locations_menu > ul.sub-menu > li {
  width: 32.33%;
  height: auto;
  vertical-align: text-top;
  margin: 0 0 0px 0;
}
.pt_menu ul li.megamenu.locations_menu > ul.sub-menu > li.top_space {
  margin-top: 20px;
}
.pt_menu ul li.megamenu.locations_menu > ul.sub-menu {
  padding: 2.6vw 4.3vw;
  flex-wrap: wrap;
}
.pt_menu ul li.megamenu.locations_menu > ul.sub-menu h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: inherit;
  text-transform: uppercase;
}
.pt_menu ul li.megamenu > ul.sub-menu > li ul.sub-menu li.top_space {
  margin-top: 30px;
}
.pt_menu > ul > li:not(.no_hover) > a:before {
  content: "";
  position: absolute;
  bottom: 14px;
  width: 0;
  height: 2px;
  transition: all 0.25s ease-out;
  background-color: #969696;
  left: 50%;
  transform: translateX(-50%);
}

.pt_menu > ul > li > a {
  position: relative;
}

.pt_menu > ul > li:hover > a:before {
  width: calc(100% - 30px);
}

.navigation {
  display: inline-block;
  position: relative;
}
.social svg {

  stroke: #fff;
  width: 26px;
  fill: none;
}

.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social ul li {
  display: inline-block;
  margin: 0 15px;
}

.social ul li svg#facebook {
  stroke: none !important;
  fill: #fff;
}

form.newsletter {
  margin: 25px 0 0 0;
  display: inline-block;
}
.social {
  margin: 15px 0 0 0;
}
.social li a:hover svg {
  filter: opacity(0.7);
}

.footer_bootm {
  border-top: 1px solid #2c2c2d;
  background: #000;
  padding: 9px 4.4vw;
}
.footer_bootm .navigation ul li {
  display: inline-block;
  padding: 0 5px;
  position: relative;
}

.footer_bootm .navigation ul li a {
  font-size: 12px;
  color: #969696;
}

.footer_bootm .navigation ul li:after {
  content: "";
  width: 1px;
  height: 1.07143rem;
  transform: translateY(-50%);
  border-right: 1px solid #7c7c7c;
  position: absolute;
  right: -2px;
  top: 50%;
}

.footer_bootm .navigation ul li:last-child:after {
  display: none;
}
.footer_bootm .navigation ul {
  margin: 0;
  padding: 0;
}
.footer_bootm .navigation ul li a:hover {
  color: #ededed;
}
a {
  transition: color 0.15s ease;
}

@keyframes left {
  from {
    right: 167px;
  }
  to {
    right: 0px;
  }
}

@keyframes right {
  from {
    right: 0px;
  }
  to {
    right: 167px;
  }
}

.copyright {
  font-size: 12px;
  text-align: right;
  color: #969696;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright p {
  margin: 0;
}



.pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li.side_drawer_menu
  ul.sub-menu
  li.drawer_menu
  > a {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}


.pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li.side_drawer_menu
  ul.sub-menu
  li.drawer_menu
  ul.sub-menu {
  position: absolute;
  right: -500px;
  top: 0;
  background: #000;
  height: 100%;
  padding: 120px 70px 10px 20px;
  transition-duration: 1s;
}


.pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li.side_drawer_menu
  ul.sub-menu
  li.drawer_menu
  ul.sub-menu
  a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.pt_menu
  ul
  li.megamenu.full_image
  > ul.sub-menu
  > li.side_drawer_menu
  ul.sub-menu
  li.drawer_menu
  ul.sub-menu.show {
  right: 0;
}

.sub-menu > ul li, 
.pt_menu>ul li >ul li {
  list-style-type: none;
  min-width: max-content;
}


[data-tooltip] {
  position: relative;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  width: auto;
  font-family: HelveticaNeueLTPro-Roman, HelveticaNeue-Roman,
    "Helvetica Neue Roman", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 7px;
  box-shadow: 0 1em 2em -0.5em rgb(0 0 0 / 35%);
  background: #2c2c2d;
  color: #fff;
  z-index: 1000;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}

[data-tooltip]:after {
  content: "";
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-top-color: #2c2c2d;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
}

[data-tooltip]:hover:before {
  display: block;
  animation: tool_show 0.3s ease-out forwards;
  animation-delay: 0.2s;
}
@keyframes tool_show {
  from {
    top: -35px;
    opacity: 0;
  }
  to {
    top: -30px;
    opacity: 1;
  }
}
[data-tooltip]:hover:after {
  display: block;
  animation: tool_tip 0.3s ease-out forwards;
  animation-delay: 0.2s;
}
@keyframes tool_tip {
  from {
    top: -15px;
    opacity: 0;
  }
  to {
    top: -10px;
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
