<div class="home" #home>
  <div class="home__container">
    <div class="d-flex">
      <div class="sidebar-container" *ngIf="!isLargeGrid" [@fadeInOut] width="300">
        <app-sidebar></app-sidebar>
      </div>
      <div class="home__row w-100">
        <div class="product-list-container">
          <div id="grid-selector" class="grid-selector">
            <div id="grid-menu">
              View:
              <ul class="d-flex gap-2">
                <li class="largeGrid" (click)="switchToLargeGrid()"><a [class]="isLargeGrid ? 'active':''"></a></li>
                <li class="smallGrid" (click)="switchToSmallGrid()"><a [class]="isLargeGrid ? '':'active'"></a></li>
              </ul>
            </div>
            Showing {{shownProducts.length > 0 ? 1 : 0}}-{{shownProducts.length}} of
            {{products.length}} results
          </div>
          <div id="grid" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
            <app-product *ngFor="let product of shownProducts" [product]="product"
              (addToCartEvent)="onAddToCart($event)"
              [changeGridToLargeObservable]="changeGridToLargeSubject$.asObservable()"></app-product>
            <div *ngIf="loading" class="loading-indicator d-flex justify-content-center">
              <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>