.home__image {
  width: 100%;
  z-index: -1;
}

.home__row {
  background-color: #fff;
  padding: 0 1rem;
  flex: 1;
}

.home {
  margin-bottom: 5px;
}

.product-list-container:first-child {
  margin: 0;
}

.product-list-container {
  margin: 3rem 0rem 0rem 1rem;
}

#grid {
  display: inline-block;
}

.grid-selector {
  height: 10px;
  padding: 40px 57px 40px 45px;
  color: #5d5f68;
  font-size: 14px;
}

#grid-menu {
  float: right;
  width: 105px;
}

#grid-menu ul {
  width: 65px;
  float: right;
  position: relative;
  top: -1px;
}

#grid-menu li {
  float: right;
  width: 25px;
  height: 25px;
  list-style: none;
  cursor: pointer;
}

#grid-menu li a {
  display: block;
  width: 25px;
  height: 25px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/grid-menu.png") 0 0 no-repeat;
}

#grid-menu li.smallGrid {
  margin-right: 7px;
  cursor: pointer;
}

#grid-menu li.smallGrid a {
  background-position: 0 -33px;
}

#grid-menu li.smallGrid a.active {
  background-position: 0 0;
}

#grid-menu li.largeGrid {
  cursor: pointer;
}

#grid-menu li.largeGrid a {
  background-position: -37px 0;
}

#grid-menu li.largeGrid a.active {
  background-position: -37px -33px;
}

div.floating-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 480px;
  background: #fff;
  z-index: 200;
  overflow: hidden;
  box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0.15);
}

div.floating-cart.moveToCart {
  left: 73px !important;
  top: 80px !important;
  width: 47px;
  height: 47px;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.MakeFloatingCart div.floating-cart.moveToCart {
  left: 86px !important;
  top: 130px !important;
  width: 21px;
  height: 22px;
  box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.loading-indicator {
  text-align: center;
  padding: 20px;
}

.sidebar-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}