.home__image {
  width: 100%;
  z-index: -1;
  /* margin-bottom: -22.6rem; */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.home__row {
  background-color: #fff;
  padding: 0 1rem;
}

.home {
  margin-bottom: 5px;
}

.product-list-container:first-child {
  margin: 0;
}

.product-list-container {
  margin: 3rem 0rem 0rem 1rem;
}

#grid {
  display: inline-block;
}

.grid-selector {
  height: 10px;
  width: 1163px;
  padding: 40px 57px 40px 45px;
  float: left;
  color: #5d5f68;
  font-size: 14px;
}

.grid-selector-large {
  padding: 40px 10px 40px 20px !important;
  width: 1321px !important;
}

#grid-menu {
  float: right;
  width: 105px;
}

#grid-menu ul {
  width: 65px;
  float: right;
  position: relative;
  top: -1px;
}

#grid-menu li {
  float: right;
  width: 25px;
  height: 25px;
  list-style: none;
  cursor: pointer;
}

#grid-menu li a {
  display: block;
  width: 25px;
  height: 25px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/grid-menu.png") 0 0 no-repeat;
}

#grid-menu li.smallGrid {
  margin-right: 7px;
}

#grid-menu li.smallGrid a {
  background-position: 0 -33px;
}

#grid-menu li.largeGrid a {
  background-position: -37px 0;
}

#grid-menu li.smallGrid a.active {
  background-position: 0 0;
}

#grid-menu li.largeGrid a.active {
  background-position: -37px -33px;
}