<div id="sidebar">
    <div class="cart-container">
        <app-shopping-cart></app-shopping-cart>
    </div>
    <h3>CATEGORIES</h3>
    <div class="checklist categories">
        <ul>
            <li *ngFor="let category of categories">
                <a href="#" (click)="toggleCategory($event, category)" [class.checked]="isChecked(category)">
                    <span>
                        <span class="x" [class.animate]="isAnimateX(category)"></span>
                        <span class="y" [class.animate]="isAnimateY(category)"></span>
                    </span>
                    {{ category }}
                </a>
            </li>
        </ul>
    </div>

    <h3>Product Types</h3>
    <div class="checklist product-types">
        <ul>
            <li *ngFor="let type of productTypeKeys" (click)="setActiveProductType(type)"
                [class.active]="type === filterCriteria.activeProductType">
                <a class=""><span></span>{{type}}</a>
            </li>
        </ul>
    </div>

    <h3>PRICE RANGE</h3>
    <div class="custom-slider">
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="sliderOptions"
            (valueChange)="filterByPrice()"></ngx-slider>
    </div>
</div>