.horizontal-scroll {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll__item {
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
