:root {
  --primary-color: #3a57e8;
}

body {
  background-color: #72bdef21;
}

nav {
  background-color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: fixed;
  border-bottom: 1px solid #e5e8eb;
}

#navbarSupportedContent {
  justify-content: flex-end;
  align-items: flex-end;
}

.home-link img {
  width: 20%;
}

.logo-title {
  color: #000;
  margin-bottom: 0;
}

.nav-link {
  text-transform: capitalize;
  padding: 0.625rem;
  padding-left: 1rem;
}

.nav-link.active:hover {
  color: #ffffff !important;
}

.nav-link.active {
  background-color: var(--primary-color);
  box-shadow: 0 10px 20px -10px rgba(var(--primary-color), 0.4);
  color: #ffffff !important;
  display: flex;
  white-space: nowrap;
  border-radius: 5px;
}
.home-header {
  box-shadow: none !important;
  background: transparent !important;
}
.home-header nav > ul > li > a {
  color: #fff;
}
.home-header nav > ul ul > li:first-child {
  border-radius: 10px 10px 0 0;
}
.home-header nav > ul ul > li:last-child {
  border-radius: 0 0 10px 10px;
}
.main-banner .white_button:hover {
  color: #fff !important;
  border-color: #fff;
}
.home-header nav > ul.sf-js-enabled ul:after {
  bottom: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}
.home-header nav > ul > li.menu-item-has-children:hover {
  box-shadow: 0px 0px 0px 0px #fff;
}

.navbar-nav li {
  padding-left: 1rem;
  display: relative;
  align-items: center;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu li {
  padding-right: 1rem;
}

.dropdown-item:active {
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.navbar-toggler:focus {
  outline: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  margin-left: 3px;
}

@media (max-width: 1199.98px) {
  .navbar .navbar-brand {
    transform: translateX(1.8rem);
  }
}

@media (min-width: 1200px) {
  .main-content .nav .navbar-brand {
    display: none;
  }
}
