<nav
  class="nav navbar navbar-expand-lg navbar-light iq-navbar pt-3 d-flex"
  [ngClass]="enableHeader ? 'sticky-home-header' : 'home-header'"
>
  <div class="container d-flex">
    <a
      class="home-link navbar-brand float-left d-flex align-items-center mb-md-0 me-md-auto text-decoration-none"
      routerLink="home"
    >
      <img src="../../assets/images/parth-traders-logo.jpg" />
      <h4 class="logo-title">Parth Traders</h4>
    </a>
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>account_circle</mat-icon>admin name
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="home">Profile</a>
      </button>
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="home">Logout</a>
      </button>
    </mat-menu>
  </div>
</nav>
